@model Skiil_CodeFirstEntity.Models.Siniflar.Yetenekler 
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_layoutNavbar.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-bottom:30px">
        <label>Yetenek Açıklaması</label>
        @Html.TextBoxFor(x=>x.ACIKLAMA, new {@class="form-control"})
    </div>
    <div style="margin-bottom:30px">
        <label>Yetenek Değeri</label>
        @Html.TextBoxFor(x=>x.DEGER, new {@class="form-control"})
    </div>
    <div>
        <button class="btn btn-primary">Kaydet</button>
    </div>
</form>

